@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.main-menu {
  text-align: center;
  animation: main-menu-fade-in 1s linear;

  &__actions {
    display: flex;
    flex-direction: column;
  }

  &__button {
    @include button;
    font-size: 2rem;
    margin: 1rem 0;
    padding: 1rem 5rem;
    cursor: pointer;
  }
}

@keyframes main-menu-fade-in {
  0% {
    opacity: 0;
  }
}
