@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.main-menu {
  @include menu;
  position: relative;

  &--no-animation {
    animation: none;
  }

  &__button {
    &:disabled {
      opacity: 0.5;
    }
  }

  &__text {
    position: absolute;
    bottom: -60px;
    color: orange;
  }
}
