@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  @include scrollbars;
  & {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(0, 0, 80);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    min-height: 70vh;
  }
}

.card {
  height: 120px;
  margin: 2px 4px;
  box-shadow: 0.2em 0.2em 0.3em black;
  cursor: pointer;

  &--player {
    &:hover {
      transform: scale(1.02) translateY(-2px);
      box-shadow: 0.2em 0.2em 0.6em black;
    }
  }

  &--deck {
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0.4em 0.4em rgb(154, 154, 154), 0.3em 0.3em rgb(154, 154, 154),
      0.2em 0.2em rgb(154, 154, 154), 0.1em 0.1em rgb(154, 154, 154),
      0.6em 0.6em 0.3em black;

    &--active {
      &:hover {
        transform: scale(1.02);
        box-shadow: 0.4em 0.4em rgb(154, 154, 154),
          0.3em 0.3em rgb(154, 154, 154), 0.2em 0.2em rgb(154, 154, 154),
          0.1em 0.1em rgb(154, 154, 154), 0.6em 0.6em 0.5em black;
      }
    }
  }
}

.counter {
  display: none;
  position: absolute;
  top: -1000px;
}
