@use "./variables" as *;

@mixin button {
  font-size: 1.6rem;
  text-transform: capitalize;
  color: white;
  background-color: rgb(116, 34, 34);
  box-shadow: $box-shadow-global;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: rgb(132, 34, 34);
  }
}

@mixin menu-button {
  @include button;
  font-size: 2rem;
  margin: 1rem 0;
  padding: 1rem 5rem;
  cursor: pointer;
}

@mixin menu {
  text-align: center;
  animation: main-menu-fade-in 1s linear;

  &__actions {
    display: flex;
    flex-direction: column;
  }

  &__button {
    @include menu-button;
  }
}

@keyframes main-menu-fade-in {
  0% {
    opacity: 0;
  }
}

@mixin scrollbars {
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
  }
}
