@use "../../styles/partials/mixins" as *;

.multiplayer-menu {
  @include menu;
  & {
    animation: none;
  }

  &__text {
    font-size: 2rem;
    margin: 1rem;
    color: orange;
    max-width: 80%;
  }
}
