.player-modal {
  &__output {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
  }

  &__text {
    font-size: 1.8rem;
    font-weight: bold;
    margin: auto;
    margin-bottom: 24px;
    max-width: 800px;
  }
}
