@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.game {
  flex: 4;
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 32px;
  width: 1000px;

  &__heading {
    text-align: center;
    margin: 0.8rem auto;
    font-weight: bold;
  }

  &__console {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100px;
    margin: auto;
    font-weight: bold;
  }

  &__hand {
    text-align: center;
  }

  &__button {
    @include button;
    & {
      padding: 0.5rem 4rem;
      margin: 1.6rem;
    }
  }

  &__game-over {
    display: flex;
    align-items: center;
    gap: 40px;
    &-heading,
    &-text {
      margin-bottom: 0.4rem;
    }
  }
}
