.game {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  height: inherit;

  &__heading {
    text-align: center;
  }

  &__console {
    text-align: center;
  }

  &__hand {
    text-align: center;
  }
}
