.card {
  height: 120px;
  margin: 2px 4px;
  box-shadow: 0.2em 0.2em 0.3em black;
  cursor: pointer;

  &--player {
    &:hover {
      transform: scale(1.02) translateY(-2px);
      box-shadow: 0.2em 0.2em 0.6em black;
    }
  }

  &--deck {
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0.4em 0.4em rgb(154, 154, 154), 0.3em 0.3em rgb(154, 154, 154),
      0.2em 0.2em rgb(154, 154, 154), 0.1em 0.1em rgb(154, 154, 154),
      0.6em 0.6em 0.3em black;

    &--active {
      &:hover {
        transform: scale(1.02);
        box-shadow: 0.4em 0.4em rgb(154, 154, 154),
          0.3em 0.3em rgb(154, 154, 154), 0.2em 0.2em rgb(154, 154, 154),
          0.1em 0.1em rgb(154, 154, 154), 0.6em 0.6em 0.5em black;
      }
    }
  }
}
