@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.modal {
  &__backdrop {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: inherit;
    z-index: 10;
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 80%;
  }

  &__heading {
    text-align: center;
    text-transform: capitalize;
    font-size: 3.5rem;
    margin: 1.6rem;

    &--match {
      color: green;
    }

    &--no-match,
    &--quit-game {
      color: red;
    }
  }

  &__content {
    padding: 16px;
    overflow: auto;
  }

  &__button {
    @include modal-button;
  }
}
