@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.create-game {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__text {
    font-size: 2.5rem;
    margin: 2rem;
  }

  &__id {
    font-size: 3rem;
    font-weight: bold;
  }
}
