@use "./styles/variables" as *;

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: fit-content;

  &__link {
    color: inherit;
    text-decoration: none;
    margin: 24px;
  }

  &__title {
    font-size: 5rem;
    text-shadow: $text-shadow-global;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    width: 100%;
    min-width: 1200px;
    max-height: 600px;
  }
}
