@use "./styles/variables" as *;

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: fit-content;
  height: 90%;

  &__link {
    color: inherit;
    text-decoration: none;
    margin: 24px;
  }

  &__title {
    font-size: 5rem;
    text-shadow: $text-shadow-global;
  }
}
