@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.quit-game-modal {
  text-align: center;
  margin-top: 20px;

  &__text {
    font-size: 2rem;
  }

  &__button {
    @include modal-button;
    & {
      @include button-red;
    }
  }
}
